body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

nav {
  height: 50px;
  width: 100%;
  background: #333;
  position: relative;
  display: block;
}

nav > h1 {
  margin: 5px;
  display: inline-block;
}

nav > ul {
  padding: 0;
  float: right;
}

nav li {
  display: inline-block;
  list-item-style: none;
}

[data-type=nav-link].selected {
  color: #fff;
}

#notification {
  width: 50%;
  min-width: 300px;
  background: #f4e695;
  border: 1px solid #cabf80;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -25%;
  font-size: 110%;
  padding: .5em;
  opacity: 0;
  text-align: center;

  transition: .4s opacity;
}

#notification.error {
  opacity: 1;
  border: 1px solid #FF4D4D;
  background: #BE1818;
  color: #fff;
}

#notification.info {
  opacity: 1;
}

.page {
  padding: 20px;
  display: none;
}

.page.active {
  display: block;
}

template {
  display: none;
}

ul {
  padding: 0;
}

ul li {
  display: inline;
  list-style-type: none;
}
